.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 50px;
  min-height: 100vh;
  min-width: 400px;
  gap: 30px;

  @media (min-width:992px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }
}

.form {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: stretch;
  flex-basis: 400px;
  flex-grow: 0.3;

}

.form>h1 {
  text-align: center;
}


.form>div>* {
  display: block;
}

.form>div>label {
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.form>div>input,
.form>div>textarea {
  width: min(80%, 400px);
  margin-inline: auto;
  background-color: rgb(255, 255, 230);
  padding: 5px;
  border-radius: 3px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.form>button {
  font-size: 1.1rem;
  font-weight: bold;
  background-color: rgb(255, 255, 230);
  padding: 5px 30px;
  margin-inline: auto;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 7px;

  &:active {
    background-color: rgb(240, 240, 220);
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  container: list / inline-size;
  flex-basis: 400px;
  flex-grow: 0.6;
}

.list>li {
  padding: 10px;
  border: 1px solid green;
  flex-basis: 100%;

  @container list (min-width: 500px) {
    flex-basis: 50%;
  }

  @container list (min-width: 750px) {
    flex-basis: 33%;
  }
}

.list>li>* {
  text-align: center;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}